<template>
    <div class="d-flex h-100 align-items-center justify-content-center flex-column">
        <h1 class="mb-3">GitHub User Search</h1>
        <div class="input-group mb-3 w-lg-50 w-80">
            <div class="input-group-prepend">
                <span class="input-group-text">@</span>
            </div>
            <input v-model="name" @keyup="fetch" type="text" class="form-control" placeholder="Name">
        </div>
        <ul class="list-group w-lg-50 w-80">
            <li v-for="user in users"
                class="list-group-item cursor-pointer list-group-item-action"
                @click="select(user)"
                v-text="user">
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        data () {
            return {
                name: '',
                users: [],
            }
        },

        watch: {
            name () {
                if (! this.name) {
                    this.$set(this, 'users', []);
                }
            }
        },

        methods: {
            fetch: _.debounce (function () {
                if (this.name.length > 1) {
                    axios
                        .get(`/api/v1/users?name=${this.name}`)
                        .then(({ data }) => {
                            this.$set(this, 'users', data.slice(0, 5));
                        })
                        .catch(() => {

                        });
                }
            }, 500),

            select (name) {
                this.$set(this, 'name', name);
                this.$set(this, 'users', []);
            },
        }
    }
</script>
